<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->

</div>
<div class="container-fluid mt--9">
    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{newsId ? 'Edit' : 'Add'}} a News</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form (submit) ="submitForm(newsForm)" #newsForm = "ngForm" >
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-title">News Title</label>
                                        <input name="title" [ngModel] = "newsId && newsToEdit ? newsToEdit?.title : '' "
                                               id="input-title" class="form-control form-control-alternative" placeholder="News Title" value="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-title">News Link</label>
                                        <input name="link" [ngModel] = "newsId && newsToEdit ? newsToEdit?.link : '' "
                                               id="input-link" class="form-control form-control-alternative" placeholder="News Link" value="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-description">Description</label>
                                        <textarea name="description" rows="4" [ngModel] = "newsId && newsToEdit ? newsToEdit?.description : '' "
                                                  id="input-description" class="form-control form-control-alternative" placeholder="News Description" value="" type="text"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button *ngIf="!newsId" type="button" class="btn btn-primary my-4" type="submit">Add News</button>
                            <button *ngIf="newsId" type="button" class="btn btn-primary my-4" type="submit">Update</button>
                            <button type="button" class="btn btn-primary my-4" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-alerts></ngx-alerts>
