<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">Boards</h3>
            </div>
            <div class="col-4 text-left">
              <input name="search" [(ngModel)]="boardSearchQuery" class="form-control form-control-alternative border-light border shadow-none" placeholder="Search" value="" type="text">
            </div>
            <div class="col-4 text-right">
              <a routerLinkActive="active" [routerLink]="['/rs-admin/add-board']" class="btn btn-sm btn-primary">Add</a>
            </div>
          </div>
        </div>
        <div class="table-responsive tableWrap">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Province</th>
                <!-- <th scope="col">City</th> -->
                <th scope="col">Views</th>
                <th scope="col">Web URL</th>
                <th scope="col">Result URL</th>
                <th scope="col">Results</th>
                <!-- <th scope="col">Comments</th> -->
                <th scope="col"></th>
              </tr>
            </thead>
            <div *ngIf="isLoading" class="loader">
              <ng-lottie width="120px" height="120px" [options]="loadingAnimOptions"></ng-lottie>
            </div>
            <tbody *ngIf="boards">
              <tr *ngFor="let board of boards | search: 'title,province,webUrl,resultUrl': boardSearchQuery">
                <td>
                  {{board.title}}
                </td>
                <td>
                  {{board.province}}
                </td>
                <!-- <td>
                  {{board.city}}
                </td> -->
                <td>
                  {{board.views}}
                </td>
                <td>
                  <a href="{{board.webUrl}}" >Website</a>
                </td>
                <td>
                  <a href="{{board.resultUrl}}" >Result</a>
                </td>
                <td>
                  <a class="btn btn-primary btn-sm" [routerLink]="['/rs-admin/results', board?.key]">Results</a>
                </td>
                <!-- <td>
                  <a class="btn btn-primary btn-sm" [routerLink]="['/rs-admin/comments/board/', board._id]">Comments</a>
                </td> -->
                <td class="text-right">
                  <div ngbDropdown   placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" [routerLink]="['/rs-admin/edit-board/', board._id]">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light" (click)="removeBoard(board)" >
                      <i style="font-size: large;" class="ni ni-fat-remove"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-alerts></ngx-alerts>
