<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <span class="badge badge-primary badge-lg bg-gradient-danger text-white">ResultSquare</span>
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
              <span class="badge badge-primary badge-lg bg-gradient-danger text-white">ResultSquare</span>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li>
          <a routerLinkActive="active" [routerLink]="['boards']" class="nav-link">
            <i class="ni ni-building text-blue"></i>
            Boards
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['classes']" class="nav-link">
            <i class="ni ni-hat-3 text-orange"></i>
            Classes
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['news']" class="nav-link">
            <i class="ni ni-world text-red"></i>
            News
          </a>
        </li>
        <li *ngIf="loggedInUser?.role === userRoleEnums?.ADMIN">
          <a routerLinkActive="active" [routerLink]="['users']" class="nav-link">
            <i class="ni ni-circle-08 text-pink"></i>
            Users
          </a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <h6 class="navbar-heading text-muted">USER</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item CP">
          <a (click)="logout()" class="nav-link">
            <i class="ni ni-button-power"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
